<div class="callout large">
  <div class="text-center">
    <h1><%= I18n.t('title') %></h1>
    <h2 class="subheader">
      <%= I18n.t('description') %>
    </h2>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x align-center">
    <div class="cell medium-8">
      <div>
        <% if user_signed_in? %>
          <div class="callout large">
            <div class="media-object-section">
              <%= image_tag(avatar) %>
            </div>
            <div class="media-object-section">
              <h3 class="display-name">
                <%= display_name %>
              </h3>
              <p class="username">
                @<%= user_name %>
              </p>
              <p>
                <%= t('birthday') %>: <%= formatted_birthday %>
              </p>
            </div>
          </div>

          <%= form_tag('/homes', method: 'post') do %>
            <%= text_area_tag 'home[content]', t('share_text', birthday: formatted_birthday, range: range), class: 'share-text' %>
            <%= submit_tag(t('share'), class: 'button expanded') %>
          <% end %>

          <p><a href="/logout">
            <%= t('logout') %>
          </a></p>
        <% else %>
          <%= form_tag('/users/auth/mastodon', method: 'post') do %>
            <%= label_tag(:identifier, t('username_description')) %>
            <%= text_field_tag(:identifier, '',
                pattern: '^[a-zA-Z0-9_]+([a-zA-Z0-9_\.]+[a-zA-Z0-9_]+)?@[a-zA-Z0-9\.\-]+[a-zA-Z0-9]+$',
                placeholder: 'yourname@example.com') %>
            <%= submit_tag(t('login'), class: 'button expanded') %>
          <% end %>
        <% end %>
      </div>

      <div class="osushi">
        <a href="https://osushi.love/intent/post/b68f9e0bbb77426898e97b7fe86c96a8" class="ossh-post-btn" data-type="large">お寿司を送る</a>
        <script src="https://platform.osushi.love/widgets.js"></script>
      </div>
      <p><a href="https://github.com/ashphy/mastodon-birthday" target="_blank">Code</a></p>
    </div>
  </div>
</div>

